ion-card{
    border-radius: 10px;
    width: 40%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome-label {
  font-size: 1.2rem;
  margin-bottom: 16px;
  text-align: center;
}

.input-item {
  margin-bottom: 16px;
}

.forgot-password {
  margin-top: 12px;
  font-size: 0.9rem;
  color: var(--ion-color-medium);
  display: block;
}