<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-wrapper">
    <div class="ion-text-center">
      <ion-label class="welcome-label">Ingresa a Nuestra Red Profesional</ion-label>
    </div>

    <ion-card>
      <ion-card-header class="ion-text-center">
        Crear Cuenta
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="registrarUsuario()">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input [(ngModel)]="usuario.apellido" name="apellido" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="usuario.email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="usuario.password" name="password" type="password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Teléfono</ion-label>
            <ion-input [(ngModel)]="usuario.telefono" name="telefono"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input [(ngModel)]="usuario.direccion" name="direccion"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Tipo</ion-label>
            <ion-select [(ngModel)]="usuario.tipo" name="tipo" required>
              <ion-select-option value="CANDIDATO">Candidato</ion-select-option>
              <ion-select-option value="EMPLEADOR">Empleador</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="ion-text-center ion-margin-top">
            <ion-button expand="block" type="submit" color="primary">Registrar</ion-button>
            <ion-label class="forgot-password" (click)="routerLogIn()">¿Ya tienes una cuenta? Inicia Sesión</ion-label>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>